@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
}
.bold {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}

:root {
    --one-color: #557090;
    --two-color: #272727;
    --three-color: #383838;
    --four-color: #a3a3a3;
    --five-color: #fdfdfd;
}