@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
    font-family: 'SUITE-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.bold {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}

:root {
    --blue-color-1: #010326;
    --blue-color-2: #162D59;
    --blue-color-3: #5377A6;
    --blue-color-4: #89B3D9;
    --black-color: #0D0D0D;
    --gray-color: #8F93AE;
    --base-gray-color: #929CAE;
    --main-gray-color: #E6E9EE;
    --accent-gray-color: #4E5A6E;
    --white-color: #F2F2F2;
}