@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

* {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
}
.bold {
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
}

:root {
    --blue-color-1: #010326;
    --blue-color-2: #162D59;
    --blue-color-3: #5377A6;
    --blue-color-4: #89B3D9;
    --black-color: #0D0D0D;
    --gray-color: #8F93AE;
    --white-color: #F2F2F2;
}