.container {
    height: 10vh;
    width: 100%;
}

.contents {
    display: flex;
    justify-content: space-between;

    margin: 0 10vw auto;

    height: 100%;
    min-width: 400px;
}

.leftContents, .rightContents {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    height: 100%;
}

.logoBox {
    margin-right: 2vw;

    height: 100%;
}
.logoBox > img {
    height: 100%;
}

.searchBox {
    display: flex;
    justify-content: space-between;

    padding: 1.4vh 1.4vw;
    border-radius: 50px;
    border: 1px solid var(--base-gray-color);
    width: 20rem;
}
.searchBox > .search {
    border: none;
    width: 80%;
}
.searchBox > .search:focus-visible {
    outline: none;
}
.searchBox > .searchBtn {
    height: 1.2rem;
    cursor: pointer;
}

.leftMenu, .rightMenu {
    font-family: 'SUITE-Regular' !important;
    margin-left: 2vw;

    font-weight: 700;
    text-decoration: none;
    color: var(--accent-gray-color);
    white-space: nowrap;
}

.login {
    margin-left: 10%;
    padding: 1.4vh 1.4vw;
    border-radius: 50px;

    font-weight: 700;
    text-decoration: none;
    color: var(--white-color);
    background-color: var(--accent-blue-color);
    white-space: nowrap;
}