.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
}

.logoBox {
  margin: 5vh 0 0.5vh 0;

  height: 15vh;
}
.logoBox > img {
  height: 100%;
}

.title {
  margin: 2vh 0;
  font-size: 2rem;
  font-weight: 600;
}

.contents {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5vh;
  margin-bottom: 5vh;

  min-width: 30vw;
  min-height: 30vh;

  background-color: var(--extra-light-color);
  border-radius: 10px;
}
.box {
  padding-bottom: 2vh;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;
  width: 80%;
}

.box > div {
  display: flex;
  width: 100%;
}

.confirmBox {
  padding-top: 2vh;
}

.inputLabel {
  padding-bottom: 1vh;
  width: 100%;
  text-align: left;
}

.inputImgLabel {
  height: 20vh;
  width: 20vh;
  text-align: center;
}

.inputImgLabel > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.inputImg {
  display: none;
}

.inputText,
.inputText:focus {
  left: auto;
  margin: 0;
  padding: 3%;
  width: 100%;

  border: none;
}

.halfInputText,
.halfInputText:focus {
  margin-right: 1vw;
}

.halfInputText:last-child,
.halfInputText:last-child:focus {
  margin-right: 0;
}

.find {
  margin-right: 1vw;
  min-width: 8rem;
  font-size: 0.8rem;
  color: var(--bold-color);
}

.confirm {
  padding: 0.6rem 1.4rem;

  min-width: 6rem;

  background-color: var(--light-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
